form .error {
  /* Style for form error messages */
  color: red;
  font-size: 0.8em;
  margin-top: 0.25em;
}

@keyframes loadingDots {
  /* Animation dots for loading text */
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}

.loading::after {
  /* Style for loading text */
  content: '';
  animation: loadingDots 2s infinite;
}

@media screen and (max-width: 991px) {
  /* styles for medium and small screens */
  tr {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
  }

  td {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    margin-bottom: 0.5em;
    text-align: left;
  }

  td:before {
    content: attr(data-column);
    font-weight: bold;
    margin-right: 1em;
  }
}

@media (min-width: 992px) {
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.pets-news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
